SUPABASE_URL="https://knafealsrpjjnpnativj.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuYWZlYWxzcnBqam5wbmF0aXZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk3MzEwNjcsImV4cCI6MjEwNTMwNzA2N30.RfwCabxgH3ge0jcwz47L7Py0-xDgMOA10RAs16u5bsk"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuYWZlYWxzcnBqam5wbmF0aXZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTczMTA2NywiZXhwIjoyMTA1MzA3MDY3fQ.MHFo2tBrnV-SJySlD9uXJFLX__Q_EomlMeMWSnnQrZo"
